<div class="col-md-6 col-md-offset-4" style="margin-bottom:0px;text-align: center;">
    <img width="90" height="30" id="logo" src="" style="margin-top:5px;"/>
 <!--   <a href="#" style="margin-left:15px;text-decoration:none;" id="1" onclick="clickType(this)">新闻</a>
    <a style="margin-left:15px;text-decoration:none;" id="2" onclick="clickType(this)">网页</a>
    <a href="#" style="margin-left:15px;text-decoration:none;" id="3" onclick="clickType(this)">图片</a>
    <a href="#" style="margin-left:15px;text-decoration:none;" id="4" onclick="clickType(this)">右侧推荐</a>
    <a href="#" style="margin-left:15px;text-decoration:none;" id="5" onclick="clickType(this)">其他</a>-->
</div>